<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create an author</title>
</head>
<body>
	<form action="/authors" method="post">
		<input type="text" name="name" placeholder="Enter author name here">
		<input type="submit" value="Add author">
	</form>
</body>
</html>