<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create an author</title>
</head>
<body>
	<form action="/posts" method="post">
		<input type="text" name="title" placeholder="Enter post title here">
		<input type="text" name="content" placeholder="Enter post content here">
		<input type="hidden" name="authorId" value="1">
		<!-- authorID in an actual app is just username then, not 1 -->
		<input type="submit" value="Add Post">
	</form>
</body>
</html>